.Grid{
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.membership-intro{
    text-align: center;
    color: var(--text-deco);
    padding: 20px;
    margin: 20px;
}

.memberships{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr; 
    margin-bottom: 4rem;
    gap: 100px;
    
}
.membership{    
    width: 320px;
    height: 430px;
    border-radius: 5px;
    background-color: var(--card-color);
    transition: all 0.5s ease;
    box-shadow: 4px 7px 10px var(--card-color);

}
.membership h4{
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: var(--text-deco);
    text-decoration: underline;
}
.membership h3{
    font-size: 25px;
    color: var(--text-deco);
    text-align: center;
}
.membership>p{
        text-align: center;
        font: 20px;
        font-stretch: condensed;
        padding: 10px;
}       
.features {
    margin: 15px ;
}
.features .items{
    display: flex;
    align-items: center;  
    gap: 10px;  
}
.features i.check{
    color: rgb(11, 113, 11);
    font-size: 23px;
}
.features i.cross{
    transform: rotate(45deg);
    color: rgb(128, 0, 0);
    font-size: 23px;
}

.membership .takeplan{
    text-align: center;
}
.membership .takeplan a{
    border-radius: 30px;
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-deco);
    transition: all 0.5s ease;
    opacity: 0.8;

}
.membership .takeplan a span{
    color: var(--text-deco);
    font-size: 20px;
}
.membership .takeplan a i{
font-size: 25px;
color: var(--text-deco);

}
.membership .takeplan a:hover{
    margin-left: 30px;
    transition: all 0.5s ease;
    opacity: 1;

}
.membership:hover{
    transform: scale(1.04);
    background-color: var(--card-hover);
    transition: all 0.5s ease;
    cursor: pointer;
}
.membership.recommended{
    position: relative;
}

/* ---mobile responsivenes */
@media (min-width: 240px) {
    .memberships{
        gap: 30px;
        grid-template-columns: 1fr;
    }
    
}

@media (min-width: 400px) {
    .memberships{
        gap: 30px;
        grid-template-columns: 1fr;
    }
    
}
@media (min-width: 660px) {
    .memberships{
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }
    
}
@media (min-width: 900px) {
    .memberships{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    
}
@media (min-width: 1200px) {
    .memberships{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;
    }
    
}
